
.filterBarContainer a {
  background: #eaeaea;
  border-bottom: 1px solid #acacac;
  color: #000;
  text-decoration: none;
  padding: 15px 30px;
  cursor: pointer;
}
.filterBarContainer a.active {
  color: #d00256;
}
